@model Cliente

@{
    ViewData["Title"] = "Apagar Contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar esse contato? (@Model.Nome)</h3>
</div>

<a asp-controller="Contato" asp-action="ConfirmarExclusao" asp-route-id="@Model.Id" role="button" class="btn btn-danger">Confimar Exclusão</a>
<a asp-controller="Contato" asp-action="Index" class="btn btn-primary" role="button">Cancelar Exclusão</a>